<section class="news">
  <div class="icon-wrap">
    <svg class="icon news" viewBox="0 0 128 100">
      <use xlink:href="#shape-news" />
    </svg>
  </div>
  <header>
    <h2>Smart guns in the press</h2>
  </header>
  <p>There has been a lot of favorable press and growing momentum behind smart guns. </p>
  <ul>
  	<li>
  		<h3><a href="http://www.thedailybeast.com/articles/2015/10/26/give-smart-guns-a-chance-to-save-lives.html">Give &lsquo;Smart Guns&rsquo; a Chance to Save Lives</a></h3>
  		<cite>The Daily Beast</cite>
  	</li>
  	<li>
  		<h3><a href="https://medium.com/@ralphfascitelli/is-biometrics-killing-the-smart-gun-9dde98fe9bca#.og0qqtv2u">Is Biometrics Killing the Smart Gun?</a></h3>
  		<cite>Medium</cite>
  	</li>
  	<li>
  		<h3><a href="http://www.msnbc.com/all-in/watch/all-in-special-report-smart-guns-710142531608">All In Special Report: Smart Guns</a></h3>
  		<cite>MSNBC</cite>
  	</li>  	
  	<li>
  		<h3><a href="http://thehill.com/blogs/congress-blog/246614-the-one-thing-the-president-can-do-now-to-reduce-gun-violence">The one thing the president can do now to reduce gun violence</a></h3>
  		<cite>The Hill</cite>
  	</li>
  	<li>
  		<h3><a href="http://venturebeat.com/2016/04/16/why-is-no-one-investing-in-smart-guns/">Why is no one investing in smart guns?</a></h3>
  		<cite>VentureBeat</cite>
  	</li>
  	<li>
  		<h3><a href="https://www.youtube.com/watch?v=fH2XWgyNk6U">Alan Gottlieb: Smart Guns and the Second Amendment</a></h3>
  		<cite>YouTube</cite>
  	</li>
  	<li>
  		<h3><a href="https://www.nytimes.com/2016/11/26/opinion/sunday/why-not-smart-guns-in-this-high-tech-era.html">Why Not Smart Guns in This High-Tech Era?</a></h3>
  		<cite>The New York Times</cite>
  	</li>
  	<li>
  		<h3><a href="http://www.jhsph.edu/news/news-releases/2016/survey-most-americans-support-smart-guns.html">Survey: Most Americans Support Smart Guns</a></h3>
  		<cite>Johns Hopkins Bloomberg School of Public Health</cite>
  	</li>  	
  </ul>
</section>
